.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;

}

.information input {
  width: 18.75rem;
  height: 2rem;
  font-size: 1rem;
  padding-left: 0.5rem;
}

button {
  width: 12.5rem;
  height: 2rem;
  margin-top: 1rem;

}

.information button:hover {
  cursor: pointer;
}

.employees{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.employee__list {
  /* width: 43.75rem; */
  display: flex;
  flex-direction: row;
  background-color: aliceblue; 
  margin: .625rem;
  padding: .625rem;


}